version: '3.9'
services:
  app:
    image: github.com/bkhablenko/upday-backend:0.1.0-SNAPSHOT
    build:
      context: .
    environment:
      DB_HOST: postgres
      OTEL_EXPORTER_OTLP_ENDPOINT: jaeger:4317
      SPRING_PROFILES_ACTIVE: demo
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      jaeger:
        condition: service_started

  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: root
      KEYCLOAK_ADMIN_PASSWORD: password
      KC_DB_POOL_MAX_SIZE: 15
      KC_HEALTH_ENABLED: true
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    ports:
      - "8080:8080"

  postgres:
    image: postgres:15.2-alpine
    environment:
      POSTGRES_DB: upday
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d upday"]
      interval: 10s
      timeout: 3s
      retries: 5

  # https://github.com/Redocly/redoc
  redoc:
    image: redocly/redoc:v2.0.0
    environment:
      SPEC_URL: openapi.yaml
    volumes:
      - ./openapi.yaml:/usr/share/nginx/html/openapi.yaml
    ports:
      - "8090:80"

  # TODO(bkhablenko): Configure healthcheck
  jaeger:
    image: jaegertracing/all-in-one:1.44.0
    environment:
      COLLECTOR_OTLP_ENABLED: true
    ports:
      - "4317:4317"
      - "16686:16686"
