version: '3.9'
services:
  app:
    image: github.com/bkhablenko/upday-backend:0.1.0-SNAPSHOT
    build:
      context: .
    environment:
      DB_HOST: postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15.2-alpine
    environment:
      POSTGRES_DB: upday
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d upday"]
      interval: 10s
      timeout: 3s
      retries: 5

  # https://github.com/Redocly/redoc
  redoc:
    image: redocly/redoc:v2.0.0
    environment:
      SPEC_URL: openapi.yaml
    volumes:
      - ./openapi.yaml:/usr/share/nginx/html/openapi.yaml
    ports:
      - "8090:80"
