# Spring Boot Actuator
management:
  endpoints:
    enabled-by-default: false
    web:
      base-path: /
      exposure:
        include: health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      enabled: true
    prometheus:
      enabled: true

spring:
  application:
    name: upday-backend

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:upday}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}

  # Disable the warning (JpaBaseConfiguration$JpaWebConfiguration)
  # https://www.baeldung.com/spring-open-session-in-view
  jpa:
    open-in-view: false

  security:
    user:
      name: admin
      password: p@55w0rd
      roles:
        - EDITOR

---
spring:
  config:
    activate:
      on-profile: demo
  sql:
    init:
      mode: always
