# Spring Boot Actuator
management:
  endpoints:
    enabled-by-default: false
    web:
      base-path: /
      exposure:
        include: health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      enabled: true
    prometheus:
      enabled: true

spring:
  application:
    name: upday-backend

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:upday}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
